{% extends 'layout.html' %}
{% block content %}
<h2 class="mb-3">编辑竞赛</h2>
<div class="card">
  <div class="card-body">
    <form class="row g-3" method="post">
      {{ form.hidden_tag() }}
      <div class="col-md-4">
        <label class="form-label">竞赛名称</label>
        {{ form.name(class='form-control') }}
      </div>
      <div class="col-md-4">
        <label class="form-label">日期</label>
        {{ form.event_date(class='form-control') }}
      </div>
      <div class="col-md-4">
        <label class="form-label">类别</label>
        {{ form.category(class='form-select') }}
      </div>
      <div class="col-md-4">
        <label class="form-label">竞赛等级</label>
        {{ form.level(class='form-select') }}
      </div>
      <div class="col-md-4">
        <label class="form-label">部门（内部赛可选）</label>
        {{ form.department_id(class='form-select') }}
      </div>
      <div class="col-md-12">
        <label class="form-label">描述</label>
        {{ form.description(class='form-control') }}
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">保存</button>
      </div>
    </form>
  </div>
 </div>
{% endblock %}
